<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="page">
        <div id="content">
            <div id="header"><h1 id="logo">{{ page.title }}</h1></div>

            {% for image in page.images %}
                <img class="photo" src="galleries/{{ page.folder }}/{{ image }}" alt="{{ image }}">
            {% endfor %}

            <div id="navigation">
                <div id="older">
                    {% if page.previous %}
                        <a href="{{ page.previous.url }}">&larr; Previous</a>
                    {% endif %}
                </div>
                <div id="newer">
                    {% if page.next %}
                        <a href="{{ page.next.url }}">Next &rarr;</a>
                    {% endif %}
                </div>
            </div>
            <div id="copyright">
                &copy; 2008&ndash;{{ site.time | date: "%Y" }} <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a>
            </div>
        </div>
    </div>
</body>
</html>
